:root{
    /* SIZE */
    --font-size-title: 24px;
    --font-size-text: 16px;
    --font-size-big-icon:26px;
    --font-size-icon: 20px;
    /* COLOR */
    --font-color-border:#ABA4A4;
    --font-color-white:#fff;
    --font-color-black:#000;
    --font-color-grey:#c2bfbf93;
    --font-color-shadow:#c2bfbf51;
}

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
html{
    width: 100%;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    color: var(--font-color-white);
}

a:visited{
    color: #fff;
}
/* ========== HEADER ========== */
header section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    border-bottom: 1px solid var(--font-color-border);
}

header section div img{
    width: 40%;
}

header section .cart-toggle{
    font-size: var(--font-size-icon);
}

/* ========== Main ========== */

/* ==== Head Main ==== */

.head_main{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url('../img/furniture-998265_1280.jpg');
    background-size: cover;
    background-position: center;
    padding: 1.5rem;
    text-align: center;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


.head_main div{
    color: var(--font-color-white);
}
.head_main div a i{
    font-size: var(--font-size-big-icon);
}

.head_main_icon_down{
    margin-top: 10rem;
}

/* ==== Dropdown ==== */

button#categorieToggle, button.categorie-button{
    background-color: var(--font-color-white);
    border-bottom: 1px solid #53525227;
}

.categorie-button {
    display: flex;
    justify-content: space-between;
    color: var(--font-color-black);
    border: none;
    padding: 1rem;
    font-size: var(--font-size-text);
    width: 100%;
    text-align: left;
}

.categorie-list {
    background-color: var(--font-color-white);
    display: none;
    position: absolute;
    width: 100%;
}

.categorie-list.show {
    display: block;
}


/* ==== CONTAINER ==== */
.container{
    padding: 2rem;
}

.categoryTitle{
    text-align: center;
    margin-bottom: 2rem;
}

/* ==== CARD PRODUCT ==== */

.productsContainer{
    margin: auto;
    width: 90%;
}

.productsContainer .product{
    margin-bottom: 2rem;
    border: 1px solid var(--font-color-border);
    border-radius: 5px;
    padding: 1rem;
}

.img_product{
    width: 100%;
    margin: 4rem 0;
    
}

.price_product{
    padding: 1rem 0;
}

button.addToCart{
    padding: 0.5rem;
    background-color: var(--font-color-white);
    border: 1px solid var(--font-color-border);
    border-radius: 5px;
    box-shadow: 5px 5px 5px var(--font-color-shadow);
}

button.addToCart:hover{
    background-color: var(--font-color-grey);
}


/* ==== RESPONSIVE ==== */

@media (min-width: 720px) {
    /* ==== product ==== */
    .productsContainer{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        gap: 1rem;
    }

    .product{
        width: 30%;
    }

    /* ==== NAV ==== */

    .categorie-list {
        display: block;
    }

    button#categorieToggle{
        display: none;
    }

    .categorie-list{
        display: flex;
        justify-content: space-between;
        position: relative;
    }

    button.categorie-button{
        margin-right: 0;
        justify-content: center;
    }

}

@media (min-width: 1024px) {
    .product{
        width: 20%;
    }    

}